[submodule "deps/ollama"]
	path = deps/ollama
	url = https://github.com/ollama/ollama.git
[submodule "deps/php-cpp"]
	path = deps/php-cpp
	url = https://github.com/CopernicaMarketingSoftware/PHP-CPP.git
